# ---- DDWEB login ----
DDWEB_EMAIL=[add your Bezirk details]
DDWEB_PASSWORD=[add your Bezirk details]

# ---- PostgreSQL: Traffic ----
POSTGRES_TRAFFIC_USER=traffic
POSTGRES_TRAFFIC_PASSWORD=traffic
POSTGRES_TRAFFIC_DB=berlin_traffic
POSTGRES_TRAFFIC_HOST=postgres-traffic
POSTGRES_TRAFFIC_PORT=5432

# ---- PostgreSQL: Data quality ----
POSTGRES_DQ_USER=dq
POSTGRES_DQ_PASSWORD=dq
POSTGRES_DQ_DB=data_quality

# ---- PostgreSQL: Airflow metadata ----
POSTGRES_AIRFLOW_USER=airflow
POSTGRES_AIRFLOW_PASSWORD=airflow
POSTGRES_AIRFLOW_DB=airflow
AIRFLOW_SECRET_KEY=berlin_traffic_secret
AIRFLOW_JWT_SECRET=airflow_jwt_secret_dev

# ---- MinIO ----
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=berlin-traffic-raw

# ---- Superset ----
SUPERSET_SECRET_KEY=admin
SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_URL=http://superset:8088
SUPERSET_DASHBOARD_ZIP_PATH=dashboard/dashboard_export_20260529T152150.zip

### update zip file link after initial dashboard build
