# ---- PROFILE ----
# determines which profiel will be active. It's like a switch between local and full.

# local = PostgreSQL + Superset only - for local work
# full  = everything including Airflow + MinIO - to set up on the VM
COMPOSE_PROFILES=local

# ---- PostgreSQL: Airflow metadata ----
POSTGRES_AIRFLOW_USER=airflow
POSTGRES_AIRFLOW_PASSWORD=airflow
POSTGRES_AIRFLOW_DB=airflow

# ---- PostgreSQL: Traffic data ----
POSTGRES_TRAFFIC_USER=traffic
POSTGRES_TRAFFIC_PASSWORD=traffic
POSTGRES_TRAFFIC_DB=berlin_traffic


# ---- MinIO (full profile only) ----
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=berlin-traffic-raw

# ---- Superset ----
SUPERSET_SECRET_KEY=admin
SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=admin
