#requirements to specify pipeline code requirements inside Airflow prod environment

pandas==2.2.2
openpyxl==3.1.2
psycopg2-binary==2.9.9
SQLAlchemy==1.4.52
pytz==2026.1.post1
requests==2.32.3
beautifulsoup4==4.12.3
python-dotenv==1.0.1
numpy==1.26.4
pyarrow==11.0.0
minio==7.2.7
